 <!-- About Section -->
<style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/mechanics/mec-5/mec467.cur), progress !important;}</style><a href="http://www.cursors-4u.com/cursor/2011/11/30/sony-psp-2.html" target="_blank" title="Sony PSP"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Sony PSP" style="position:absolute; top: 0px; right: 0px;" /></a>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I’m a carioca digital game programming student through the IFRN-CM, I have 18 years old; In future i’ll be a physical education teacher with specialization in dance.</p>
                </div>
                <div class="col-lg-4">
                    <p>The principally itencion of this web site, is show our game-works during the third year of the course, and not just good games done by the students, but also games with bugs even because “life is not a sea of roses”. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
